html {
  background-color: #F5F5F5;
}
header {
  display: flex;
  background-color: #B8B8B8;

  margin: 0px;
  padding: 0%;
  border-radius: 10px;
  border-color: #B8B8B8;
  border-radius: 2px;
  border-style: solid;

  position: fixed;
  top: 0px;
  left: 0px;

  width: 100vw;
}
.headbox {
  background-color: #101010;
  width: 200px;
  text-align: center;
  font-size: 30px;

  margin: 3px 0px 3px 6px;
  border-radius: 4px;
}
a {
  color: azure;
  text-decoration: none;
}
main {
  margin-top: 50px;
}